<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!--  Username to connect to MySQL  -->
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hospital</property>
        <property name="hibernate.connection.username">root</property>
        <!--  Password to connect to MySQL, Provide your correct password  -->
        <property name="hibernate.connection.password">root</property>

        <!--  Echo all executed SQL to stdout  -->
        <property name="hibernate.show_sql">true</property>
        <!--  Dialect required between hibernate and MySQL  -->
        <!--  This property makes Hibernate generate the
                      appropriate SQL for MySQL here  -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hbm2ddl.auto">update </property>
        <mapping class="com.hospital.entity.Patient"/>
        <mapping class="com.hospital.entity.Doctor"/>
        <mapping class="com.hospital.entity.Staff"/>
        <mapping class="com.hospital.entity.Bill"/>
        <mapping class="com.hospital.entity.Payment"/>


        <!-- <property name="connection.username"/> -->
        <!-- <property name="connection.password"/> -->

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>
